* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  position: absolute;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(65, 173, 219, 0.2);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(65, 173, 219, 0.6);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  overflow-y: overlay;
}

.react-link {
  margin: 0;
}

.app_container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f7f7f7;
}

.user_avatar {
  height: 40px;
  width: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  margin-right: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

input {
  padding: 0.5em 0.8em;
  border-radius: 15px;
  background: #fff;
  border: 1px solid #10182b;
  outline: none;
  color: #10182b;
}

.app_container_dark {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0f1626;
  color: #eee;
}

.app_container_dark .user_avatar {
  border-color: #10182b;
}

.app_container_dark .form_container {
  background: #05253b;
  border: 1px solid #10182b;
  color: #eee;
}

.app_container_dark .form_container textarea {
  background: #0f1626;
  border: 1px solid #10182b;
  color: #eee;
}

.app_container_dark .form_container button {
  color: #eee;
}

.app_container_dark .form_container * {
  border-color: #10182b;
  /* color: $main-color_dark; */
}

.app_container_dark .form_container .file_input,
.app_container_dark .form_container .form_submit {
  color: #eee;
}

.app_container_dark .form_container .file_input:hover,
.app_container_dark .form_container .form_submit:hover {
  background: rgba(15, 22, 38, 0.4);
}

.app_container_dark .form_container .file_btn {
  color: #eee;
}

.app_container_dark .settings_menu {
  background: #05253b;
  color: #eee;
}

.app_container_dark .header_container {
  background: #05253b;
  border: 1px solid #10182b;
  color: #eee;
}

.app_container_dark .post_card {
  background: #05253b;
  border: 1px solid #10182b;
}

.app_container_dark .post_card div {
  border-color: #10182b;
}

.app_container_dark .post_card .post_header_top a {
  color: #eee;
}

.app_container_dark .post_card p {
  color: #eee;
}

.app_container_dark .post_card input {
  background: #0f1626;
  border-color: #10182b;
}

.app_container_dark .post_card .comment svg {
  color: #eee;
}

.app_container_dark input {
  background: #05253b;
  border: 1px solid #17233f;
  outline: none;
  color: #eee;
}

.app_container_dark .react-link_header {
  color: #0f1626;
}

.app_container_dark .react-link_header:hover {
  color: #eee;
}

.app_container_dark .react-link_header_active {
  color: #eee;
}

.app_container_dark .user_profile_info {
  color: #eee;
}

.app_container_dark .user_follow_container {
  color: #eee;
  border-color: #17233f;
}

.app_container_dark .showcase_img {
  background: #eee;
}

.app_container_dark .sort_btn {
  border-color: #eee;
  color: #eee;
}

.app_container_dark .sort_btn_active {
  background: #43c0f6;
  color: #0f1626;
  border-color: #0f1626;
}

.app_container_dark .search_results {
  background: #05253b;
  border-color: #10182b;
  color: #eee;
}

.app_container_dark .search_input:focus {
  border-color: #10182b;
}

.app_container_dark .user_result a {
  color: #eee;
}

.app_container_dark .user_result:hover {
  background: #0f1626;
}

.app_container_dark .no_user {
  color: #eee;
}

.app_logo {
  position: fixed;
  top: 30px;
  left: 30px;
  font-size: 24px;
  color: #41addb;
}

input:focus {
  border: 1px solid #41addb;
}
/*# sourceMappingURL=App.css.map */