@import "./Variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  position: absolute;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba($color: $span-color, $alpha: 0.2);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: $span-color, $alpha: 0.6);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  overflow-y: overlay;
}

.react-link {
  margin: 0;
}

.app_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $app-background;
}
.user_avatar {
  height: 40px;
  width: 40px;
  border: 1px solid $main-border-color;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
  overflow: hidden;
}
input {
  padding: 0.5em 0.8em;
  border-radius: 15px;
  background: $post-background;
  border: 1px solid $secondary-border-color;
  outline: none;
  color: $main-color;
}

.app_container_dark {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $app-background_dark;
  color: $main-color_dark;

  .user_avatar {
    border-color: $main-border-color_dark;
  }

  .form_container {
    background: $post-background_dark;
    border: 1px solid $main-border-color_dark;
    color: $main-color_dark;
    textarea {
      background: $app-background_dark;
      border: 1px solid $main-border-color_dark;
      color: $main-color_dark;
    }
    button {
      color: $main-color_dark;
    }

    * {
      border-color: $main-border-color_dark;
      /* color: $main-color_dark; */
    }

    .file_input,
    .form_submit {
      color: $main-color_dark;

      &:hover {
        background: rgba($color: $app-background-dark, $alpha: 0.4);
      }
    }
    .file_btn {
      color: $main-color_dark;
    }
  }

  .settings_menu {
    background: $header-background_dark;
    color: $main-color_dark;
  }
  .header_container {
    background: $header-background_dark;
    border: 1px solid $main-border-color_dark;
    color: $main-color_dark;
  }

  .post_card {
    background: $post-background_dark;
    border: 1px solid $main-border-color_dark;

    div {
      border-color: $main-border-color_dark;
    }

    .post_header_top a {
      color: $main-color_dark;
    }

    p {
      color: $main-color_dark;
    }

    input {
      background: $app-background_dark;
      border-color: $main-border-color_dark;
    }

    .comment svg {
      color: $main-color_dark;
    }
  }

  input {
    background: $post-background_dark;
    border: 1px solid $secondary-border-color_dark;
    outline: none;
    color: $main-color_dark;
  }

  .react-link_header {
    color: $app-background_dark;
  }

  .react-link_header:hover {
    color: $main-color_dark;
  }

  .react-link_header_active {
    color: $main-color_dark;
  }

  .user_profile_info {
    color: $main-color_dark;
  }

  .user_follow_container {
    color: $main-color_dark;
    border-color: $secondary-border-color_dark;
  }

  .showcase_img {
    background: $main-color_dark;
  }

  .sort_btn {
    border-color: $main-color_dark;
    color: $main-color_dark;
  }

  .sort_btn_active {
    background: $span-color_dark;
    color: $app-background_dark;
    border-color: $app-background_dark;
  }

  .search_results {
    background: $post-background_dark;
    border-color: $main-border-color_dark;
    color: $main-color_dark;
  }

  .search_input:focus {
    border-color: $main-border-color_dark;
  }

  .user_result a {
    color: $main-color_dark;
  }
  .user_result:hover {
    background: $app-background_dark;
  }

  .no_user {
    color: $main-color_dark;
  }
}

.app_logo {
  position: fixed;
  top: 30px;
  left: 30px;
  font-size: 24px;
  color: $span-color;
}

input:focus {
  border: 1px solid $span-color;
}
