// DARK MODE
/*
$header-background: #05253b;
$app-background: #0f1626;
$post-background: #05253b;
$main-color: #eee;
$secondary-color: #eee;
$main-border-color: #10182b;
$secondary-border-color: #10182b;
$span-color: #43c0f6;
$box-shadow-color: 245;
*/
// LIGHT MODE

$header-background: #fff;
$app-background: #f0f0f0;
$post-background: #fff;
$main-color: #10182b;
$secondary-color: #10182b;
$main-border-color: rgb(230, 230, 230);
$secondary-border-color: #10182b;
$span-color: #41addb;
$box-shadow-color: 0;
