// DARK MODE

$header-background_dark: #05253b;
$app-background_dark: #0f1626;
$post-background_dark: #05253b;
$main-color_dark: #eee;
$secondary-color_dark: #eee;
$main-border-color_dark: #10182b;
$secondary-border-color_dark: #17233f;
$span-color_dark: #43c0f6;
$box-shadow-color_dark: 245;

// LIGHT MODE

$header-background: #fff;
$app-background: rgb(247, 247, 247);
$post-background: #fff;
$main-color: #10182b;
$secondary-color: #999;
$main-border-color: rgb(230, 230, 230);
$secondary-border-color: #10182b;
$span-color: #41addb;
$box-shadow-color: 0;
