/*
$header-background: #05253b;
$app-background: #0f1626;
$post-background: #05253b;
$main-color: #eee;
$secondary-color: #eee;
$main-border-color: #10182b;
$secondary-border-color: #10182b;
$span-color: #43c0f6;
$box-shadow-color: 245;
*/
.form_container {
  width: 50%;
  margin-top: 100px;
  border-radius: 15px;
  background: #fff;
  border: 1px solid #e6e6e6;
  color: #10182b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.49);
          box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.49);
}

.input_container {
  width: 95%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_lower {
  width: 100%;
  height: 60px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  border-top: 1px solid #e6e6e6;
}

.form_input {
  outline: none;
  background: #e6e6e6;
  border: 1px solid #fff;
  margin: 15px 0;
  padding: 6px 0px 6px 6px;
  border-radius: 8px;
  height: 100px;
  width: calc(100% - 12px);
  resize: none;
  font-size: 22px;
  color: #10182b;
}

.no_message {
  border: 1px solid red;
}

.img_preview {
  width: 100%;
  position: relative;
}

.reset_img {
  position: absolute;
  top: 160px;
  right: 5%;
  background: #10182b;
  color: #fff;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.reset_img:hover {
  background: #999;
}

.file_input,
.form_submit {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  font-size: 1.3rem;
  cursor: pointer;
  background: none;
  font-weight: bold;
  position: relative;
  height: 35px;
}

.form_submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_submit:hover,
.file_input:hover {
  background: #e6e6e6;
}

.file_icon {
  color: seagreen;
  margin-right: 10px;
}

.submit_icon {
  color: royalblue;
  margin-right: 10px;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  cursor: pointer;
  z-index: 90;
}

.file_btn,
.form_btn {
  border: none;
  background: none;
  font-size: 1em;
  cursor: pointer;
  z-index: 1;
  font-weight: bold;
  outline: none;
  color: #10182b;
}

@media only screen and (max-width: 1000px) {
  .form_container {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .form_container {
    width: 90%;
  }
}
/*# sourceMappingURL=Form.css.map */